.root{
-fx-background-image: url("file:C:/Users/NY/Documents/intellijProjects/superadminportal/src/main/resources/com/example/superadminportal/images/table.jpg");
-fx-background-repeat: stretch;
    -fx-background-size: 1000 706;
    -fx-background-position: center center;

}
.orderNow{
 -fx-background-color: linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
     -fx-background-insets: 0;
     -fx-text-fill: Brown;
     -fx-font-family: Nyala;
     -fx-font-size: 20px;
 }
.foodName{
-fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 0 0 0 0;
}
.weeklyReview{
-fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-font-family: Nyala;
    -fx-font-size: 14px;

}
.logo{
-fx-background-radius: 30;
-fx-background-image: url("file:C:/Users/NY/Documents/intellijProjects/superadminportal/src/main/resources/com/example/superadminportal/images/login2.jpg");
-fx-background-repeat: stretch;
    -fx-background-size: 70 70;
    -fx-background-position: center center;
}
.price{
-fx-text-fill: black;
    -fx-font-weight: bold;
-fx-font-family: Nyala;
-fx-font-size: 21px;
}
.vboxbutton {
    -fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
